---
title: ⚔ Siong, Engineer
---

<section class="welcome">
  <div class="logo">
    ⚔
  </div>
  <h1>My name is Teng Siong Ong. I usually go by Siong.</h1>
  <p class="doc">
    I am currently an engineer at <%= link_to "Expa", "http://expa.com/" %> working on a stealth project.
    I was the first engineer at <%= link_to "Envoy", "https://envoy.com/" %>. Before that, I founded <%= link_to "GraffitiGeo", "http://techcrunch.com/2009/10/20/mobile-social-network-wars-loopt-acquires-graffitigeo/" %> funded by <%= link_to "Y Combinator", "http://techcrunch.com/2009/08/13/yc-funded-graffitigeo-foursquare-meets-yelp-with-a-dash-of-augmented-reality/" %> and later sold it to <%= link_to "Loopt", "http://allthingsd.com/20120309/green-dot-buys-location-app-loopt-for-43-4m/" %>.
  </p>
  <p class="doc">
    I grew up in a small town called <%= link_to "Teluk Intan", "https://en.wikipedia.org/wiki/Teluk_Intan" %> in <%= link_to "Malaysia", "https://en.wikipedia.org/wiki/Malaysia" %>.
  </p>
  <p class="doc">
    You can find me on:
  </p>
  - mail
  - twitter
  - instagram
  - medium
  - linkedin
</section><!-- .welcome -->
