---
title: Siong &middot; Engineer
---

<section class="welcome">
  <div class="logo">
    ⚔
  </div>
  <h1>My name is Teng Siong Ong. I usually go by Siong.</h1>
  <p class="doc">
    I am currently working on a pan Southeast Asia fiat-to-crypto exchange.
  </p>
  <p class="doc">
    I also invested in <%= link_to "VGS", "https://www.verygoodsecurity.com/" %>, <%= link_to "Kenzie Academy", "https://www.kenzie.academy/" %>, <%= link_to "Handshake", "https://handshake.org/" %>, and <%= link_to "Agave", "http://agave.com/" %>.
  </p>
  <p class="doc">
    In my previous life in San Francisco, I helped started a few different companies.
  </p>
  <p class="doc">
    <%= link_to "Prefer", "https://prefer.com/" %>: As one of the cofounders at Prefer, I helped to spearhead the product and engineering direction in the early days. We raised our first Series A funding from <%= link_to "Benchmark", "http://www.benchmark.com/" %>.
  </p>
  <p class="doc">
    <%= link_to "Expa", "http://expa.com/" %>: I joined Expa as their Engineer-in-Residence. Here, I got the opportunity to work on different projects with some of the best product thinkers like <%= link_to "Garrett", "http://garrettcamp.com/" %> and <%= link_to "Vítor", "https://vitor.com/" %>. Prefer was one of the projects that I worked on here at Expa.
  </p>
  <p class="doc">
    <%= link_to "Envoy", "https://envoy.com/" %>: At Envoy, I worked on the early product and helped grow the team from a 2 people team (me and <%= link_to "Larry", "https://twitter.com/lg" %>) to more than 7 people. Today, Envoy is close to 100 people with millions of revenue and funded by <%= link_to "Andreessen Horowitz", "https://a16z.com/" %>.
  </p>
  <p class="doc">
    <%= link_to "GraffitiGeo", "http://techcrunch.com/2009/10/20/mobile-social-network-wars-loopt-acquires-graffitigeo/" %>: I founded GraffitiGeo while I was a freshman in college. GraffitiGeo was funded by <%= link_to "Y Combinator", "http://techcrunch.com/2009/08/13/yc-funded-graffitigeo-foursquare-meets-yelp-with-a-dash-of-augmented-reality/" %> and we later sold it to <%= link_to "Loopt", "http://allthingsd.com/20120309/green-dot-buys-location-app-loopt-for-43-4m/" %>.
  </p>
  <p class="doc">
    I studied Computer Science at <%= link_to "University of Illinois at Urbana-Champaign (UIUC)", "https://illinois.edu/" %>.
  </p>
  <p class="doc">
    I grew up in a small town called <%= link_to "Teluk Intan", "https://en.wikipedia.org/wiki/Teluk_Intan" %> in <%= link_to "Malaysia", "https://en.wikipedia.org/wiki/Malaysia" %>.
  </p>
  <p class="doc">
    You can find me on:
  </p>
  <ul>
    <li><%= mail_to "hello@siong.com", image_tag("inbox.jpg") %></li>
    <li><%= link_to image_tag("twitter.jpg"), "https:/twitter.com/siong1987" %></li>
    <li><%= link_to image_tag("medium.jpg"), "https://medium.com/@siong" %></li>
    <li><%= link_to image_tag("instagram.jpg"), "https://www.instagram.com/siong1987" %></li>
    <li><%= link_to image_tag("linkedin.jpg"), "https://www.linkedin.com/in/siong" %></li>
  </ul>
</section><!-- .welcome -->
